
<!DOCTYPE html>
<html>
<head>
  <title>Calories+</title>
  <base href="/">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script src="/javascript/speech_to_text.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<body>
  
</body>
</html>